/* selector or type selector*/
/*
selector {
  property: value;
  property: value;
}
*/
mark {
  background-color: pink;
}
/*class selector*/
.redlining {
  color: red;
}
/* just selected the redlining class instead of the bold tag. use a period to
select class*/
